<!DOCTYPE html>
<html>
<head>
  <title>Mediathèque</title>
  <%#= stylesheet_link_tag 'computer', media: 'screen and (min-device-width: 1025px)' %>
  <%= stylesheet_link_tag 'computer' %>
	<%= yield :stylesheets_links %>
  <%= csrf_meta_tag %>
	<%= javascript_include_tag 'application' %>
	<%= yield :javascripts_links %>
</head>
<body>
	<div id="header">
		<header>
			<div class="container_16">
      	<div class="grid_4">
					<h1>
						<a href="/">Mediathèque</a>
					</h1>
				</div>
				<nav id="main-navigation" class="prefix_1 grid_7">
					<% unless current_user.nil? %>
					<ul class="inline">
				  	<li class="first<%= ' active' if active_section? 'videos' %>"><%= link_to 'Videos', videos_path %></li>
						<li<%= "class='active'" if active_section? 'books' %>><%= link_to 'Books', '#' %></li>
						<li<%= "class='active'" if active_section? 'music' %>><%= link_to 'Music', '#' %></li>
				  </ul>
					<% else %>
						<div  style="height:1px"></div>
					<% end %>
				</nav>
				<nav id="user-navigation" class="grid_4">
					<ul class="inline">
						<li>
							<% unless current_user.nil? %>
								<%= current_user.nick %>
								<li><%= link_to 'Profile', '#' %></li>
								<li><%= link_to t('header.signout'), signout_path %></li>
							<% else %>
								<a href="<%= signin_path %>"><%= t('header.signin').capitalize %></a>
								| 
								<a href="<%= signup_path %>"><%= t('header.signup').capitalize %></a>
							<% end %>
						</li>
					</ul>
				</nav>
		</header>
		<div class="container_16">
			<% if content_for? :menu %>
				<nav id="menu"class="prefix_2 grid_12 suffix_2">
					<ul class="navigation">
					<%= yield :menu %>
					</ul>
				</nav>
			<% end %>
		</div>
  </div>

	<div id="wrapper" class="container_16">
	  <% flash.each do |type, message| -%>
	  	<div class="flash prefix_4 grid_8 suffix_4">
	      <div class="message <%= type %>">
	        <p><%= message.capitalize %></p>
	      </div>
	  	</div>
	  	<div class="clear"></div>
	  <% end %>
		
		<%= content_for?(:content) ? yield(:content) : yield %>

	  <footer class="prefix_2 grid_12 suffix_2">
	    <p>Copyright &copy; <%= Time.now.year %> Mediathèque.</p>
	    <%= debug params.inspect %>
			<%#= debug session.inspect %>
		</footer>
  </div>
		
	
</body>
</html>
