<!DOCTYPE html>
<html>
<head>
  <title>Mediathèque</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
	<%= yield :stylesheets_links %>
  <%= csrf_meta_tag %>
	<%= yield :javascripts_links %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Mediathèque</a></h1>
			<%= yield :main_navigation %>
			<div id="user-navigation">
				<ul>
					<li>
						<% unless @user.nil? %>
							<%= @user.nick %>
							<li><%= link_to 'Profile', '#' %></li>
							<li><%= link_to 'Sing out', signout_path %></li>
						<% else %>
							<%= link_to 'Sign in', signin_path %> | <%= link_to 'Sign up', signup_path %>
						<% end %>
					</li>
				</ul>
			</div>
    </div>
		<div id="wrapper" class="wat-cf">
			<div class="flash">
		    <% flash.each do |type, message| -%>
		      <div class="message <%= type %>">
		        <p><%= message %></p>
		      </div>
		    <% end %>
		  </div>
			<%= content_for?(:content) ? yield(:content) : yield %>
			<div id="sidebar">
		    <%= yield :sidebar %>
		  </div>
    </div>
  </div>
	<%= debug params.inspect %>
	<%= debug session.inspect %>
</body>
</html>
