<div id="box">
	<div class="block" id="block-signup">
		<h2>Sign up</h2>
		<div class="content">
			<% if @user.errors.any? %>
				<%= render partial: 'shared/error_message', collection: @user.errors.full_messages %>
			<% end %>
			<%= form_for @user, :url => signup_path, :builder => ApplicationHelper::WebAppThemeFormBuilder, :html => { :class => "form" } do |f| %>
				<%= f.text_fields_compact :email, :name, :nick %>
				<%= f.labeled_password_field :password %>
				<%= f.labeled_password_field :password_confirmation %>
				<div class="group navform wat-cf">
					<button class="button" type="submit">
					  <img src="assets/icons/tick.png" alt="Save"> Sign up
           </button>
				</div>
			<% end %>
		</div>
	</div>
</div>

